@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*  ./WelcomeMessage.css  */

.welcome-message {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-bottom: 20%;
    grid-area: w;
  }

@media screen and (max-width: 949px) {
    .be-thoughtful {
    font-size: 24px;
    color: #EB5757;
    padding-right: 0px !important;
}

}

.be-thoughtful {
    font-size: 24px;
    color: #EB5757;
    padding-right: 335px;
}

.signature {
    font-size: 60px;
    color: #3f3631;
}

.slogan {
    font-size: 48px;
    color: #9C8E76;
}