@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*  ./WelcomeMessage.css  */

.welcome-message {
    font-family: 'Dancing Script', cursive;
    line-height: 0.4;
    left: 0;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;

  }

.be-thoughtful {
    font-size: 24px;
    color: #EB5757;
    padding-right: 335px;
    line-height: 0.25;
}

.signature {
    font-size: 60px;
    color: #3f3631;
}

.slogan {
    font-size: 48px;
    color: #9C8E76;
    line-height: 0.75;
}