@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.navigation-bar {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    grid-area: header;
}

.navbar-brand {
    margin: 0px 15px;
}

