@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.navigation-bar {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    grid-area: n;
    animation: fadeIn 3s;
}

.navbar-brand {
    margin: 0px 15px;
}

.navbar-logo:hover {
    animation: rotate 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes rotate {
    0% {
      transform: rotateY(360deg);
    }
    100% {
      transform: rotateY(0rem);
    }
  }
 