.react-multi-carousel-list {
    grid-area: c;
    margin: 15px;
}


.react-multiple-carousel__arrow--right { 
    right: 5px !important; 
}

.react-multiple-carousel__arrow--left {
    left: 5px !important;
}